<!DOCTYPE hmml>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
<div style="margin-top:50px;" class="container">
    <h3>Todo List</h3>
    <hr>
    <form action="/add" method="post">
     <div class="form-group">
    <label for="exampleInputEmail1">Todo Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="todotitlehelp" placeholder="Enter title">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" placeholder="Enter Content"></textarea>
  </div>
 
  <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    <br>
    {% if todos == [] %}
      <div class="alert alert-primary" role="alert">
        Empty todo list
      </div>    
    {% else %}
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col2">Title</th>
      <th scope="col3">Content</th>
      <th scope="col">Status</th>
      <th scope="col">+/-</th>
      <th scope="col">Del</th>
    </tr>
    <tbody>
       {% for todo in todos %}
       <tr>
      <th scope="row">{{ todo.id }}</th>
      <td><a href="/detail/{{ todo.id }}">{{ todo.title }}</a></td>
      <td>{{ todo.content }}</td>
        {% if todo.complete == False %}
        <td> - </td>
        {% else %}
        <td> + </td>
        {% endif %}
      
      <td><a href="/complete/{{ todo.id }}" class="btn btn-danger">Ok</a></td>
      <td><a href="/delete/{{ todo.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Del</a></td>
    </tr>
       {% endfor %}
    </tbody>
  </thead>
  <tbody>
    
  </tbody>
</table>
    {% endif %}
    
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>